{% extends 'core/base.html' %}

{% block content %}
    <h1 class="title">Dashboard</h1>
    {% if userprofile.is_employer %}
        <h2 class="subtitle">Empleos</h2>

        <a href="{% url 'add_job' %}" class="button is-success"> Agregar trabajo </a>

        {% for job in request.user.jobs.all  %}
        <div class="job">
            <a href="{% url 'view_dashboard_job' job.id %}"> {{ job.title }} ({{ job.get_status_display }}) </a>
        </div>
        {% empty %}
            <p>No tenes ningun empleo todavía</p>
        {% endfor %}
       
    {% else %}
        <h2 class="subtitle">Aplicaciones</h2>
         {% for application in request.user.applications.all  %}
            <div class="application">
                <a href="{% url 'view_application' application.id %}"> {{ application.job.title }} </a>
            </div>
         {% empty %}
            <p>Todavía no aplicaste a ningún trabajo</p>

         {% endfor %}      

    {% endif %}

{% endblock content %}